 .red-button {
    background-color:#bc3315;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    border:none;
    color: #fff;
    display:inline-block;
    cursor:pointer;
    padding:10px 30px;
    text-decoration:none;
}

.red-button:hover {
    background-color: #e53f19;
}

.content-block {
    border:1px solid #eee;
    padding:10px;
    background:#ccc;
    float:left;
    margin-bottom:1.75em;
    text-align:center;
}

.content-block:after {
    clear:both;
} 

.highlighter {
    background-color:#ffff66;
}